body {
    margin-bottom: 20px;
}
#panel-sobre-nos { margin-top: 10px; }

h2 { font-weight: bolder; }

#titulo-depoimentos {
    background-color: rgb(59, 140, 245);
    margin-bottom: 0;
    color: white;
    padding: 20px 0;
    text-align: center;

}


#carousel-depoimentos img { height: 300px; }

#id-radio-pessoa, #id-select-situacao {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#id-radio-pessoa .radio:first-child {
    margin-top: 0px;
}
