html, body {
    height: 100%;
}

header {
    position: relative;
    background-image: url(./img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
}

#header-banner  {
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    border-radius: 5%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.3s;
}

h1 { font-weight: bolder; }


#header-banner a {
    width: 100%;
}

#panel-sobre-nos { margin-top: 10px; }

#panel-sobre-nos .panel.panel-default {
    cursor: pointer;
}

h2 { font-weight: bolder; }


#titulo-depoimentos {
    background-color: rgb(59, 140, 245);
    margin-bottom: 0;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#id-radio-pessoa, #id-select-situacao {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#id-radio-pessoa .radio:first-child {
    margin-top: 0px;
}

footer {
    background-color: #1d1d1d;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

@media screen and (min-width: 964px)  {
    #header-banner  {
        top: 50%;
        left: 30%;
        transform: translateX(-50%);
    }

    #header-banner a {
        width: 40%;
    }
}