body {

}

#panel-sobre-nos { margin-top: 10px; }

h2 { font-weight: bolder; }

#titulo-depoimentos {
    background-color: rgb(59, 140, 245);
    margin-bottom: 0;
    color: white;
    padding: 20px 0;
    text-align: center;

}

#id-radio-pessoa, #id-select-situacao {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#id-radio-pessoa .radio:first-child {
    margin-top: 0px;
}

footer {
    background-color: #1d1d1d;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

@media screen and (max-width: 500px)  {
    #carousel-depoimentos img { height: 300px; }
}